html {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@keyframes layer2Anim {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes layer3Anim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    67% {
        opacity: 1;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slideShow {
    position: relative;
}

.placeHolder {
    width: 100%;
    visibility: hidden;
}

.layer1,
.layer2,
.layer3 {
    position: absolute;
    width: 100%;
    height: 77%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.layer1 {
    background-image: url(img/vietnam.jpg);
}

.layer2 {
    background-image: url(img/vietnam_market.jpg);
    animation: layer2Anim 10s infinite;
}

.layer3 {
    background-image: url(img/sweatshop.jpg);
    animation: layer3Anim 10s infinite;
}

.slideOverlay {
    background-image: url(img/Mystic.jpg);
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slideOverlay p {
    position: relative;
    color: #fff;
    text-shadow: 3px 3px 6px #000;
    top: 30%;
}

.overlay {
    background-color: #2F2F70;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.banner {
    width: 100%;
    position: relative;
    height: 500px;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0000FF;
    opacity: 0.7;
    background-size: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.full-width-container {
    width: 100%;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}

.section-full-width-container {
    width: 100%;
    height: 500px;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
    background-color: #D5D5D5;
}

.section-header {
    text-align: center;
    padding: 30px 30px 0 30px;
}

.sub-section-header {
    text-align: center;
    align-content: center
}

.sub-section-text {
    text-align: center;
    align-content;
    padding: 30px 30px 0 30px;
}

.overlay-text {
    font-family: d;
    text-align: center;
    font-size: 20;
}
