html {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@keyframes layer2Anim {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes layer3Anim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    67% {
        opacity: 1;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.summary-section-button {
    position: absolute;
    align-content: center;
    text-align: center;
    top: 25vh;
    left: 6vw;
}

.memo-section-button {
    position: absolute;
    align-content: center;
    text-align: center;
    top: 25vh;
    left: 50vw;
}

.summary-section-text {
    font-size: 1.1vw;
    font-weight: 2vw;
    font-family: 'Space Mono', monospace;
    top: 8vh;
    right: 46vw;
    position: absolute;
}


.memo-section-text {
    font-size: 1.1vw;
    font-family: 'Space Mono', monospace;
    top: 8vh;
    left: 45vw;
    position:absolute;
}

.document-container {
    height:50vh;
    width:100vw;
    background-color: white;

}

.policy-sub-header {
    font-family: 'Space Mono', monospace;
    text-align: center;
    height: 3vh; 
}

.logo {
    width: 12vw;
    height: 12vh;
}

.social {
    align-content: right;
}

.social-logo {
    width: 30vw;
    height: 50vh;
    padding-top: 19vh;
}

.facebook-social-small {
    width: 3vw;
    height: 2vh;
    top: 10vh;
    left: 91vw;
    height: 5vh;
    bottom: 30vh;
    position: absolute;
}

.twitter-social-small {
    width: 3vw;
    height: 2vh;
    top: 10vh;
    left: 95vw;
    height: 5vh;
    bottom: 30vh;
    position: absolute;
}

.logo-container {
    align-content: center;
    text-align: center;
}

.slideShow {
    position: relative;
    display: block;
    height: 100vh;
}

.placeHolder {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.layer1,
.layer2,
.layer3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.layer1 {
    background-image: url(img/vietnam.jpg);
}

.layer2 {
    background-image: url(img/vietnam_market.jpg);
    animation: layer2Anim 10s infinite;
}

.layer3 {
    background-image: url(img/sweatshop.jpg);
    animation: layer3Anim 10s infinite;
}

.slideOverlay {
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 77%;
    top: 0;
    left: 0;
}

.fa:hover {
    color: #BFEFFF;
    border-color: #BFEFFF;
}

.button:hover {
    color: #003366;
    border-color: #003366;
}

.fa-text {
    top: 77vh;
    left: 41vw;
    font-size: 1.5vw;
    font-family: 'Times New Roman' text-align: center;
    display: inline-block;
    position: absolute;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
    top: 82vh;
    display: inline-block;
    font-size: 3vw;
    position: absolute;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.text {
    font-family: 'Open Sans', sans-serif;
}

.policy-factors-container {
    width: 100vw;
    height: 100vh;
}

.slideOverlay div {
    position: relative;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 6px #000;
    text-align: center;
    top: 15%;
}

.full-width-container {
    width: 100%;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}

.section-full-width-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    font-size: 6vw;
    padding: 10px, 10px, 10px, 10px;
    font-family: 'Paytone One', sans-serif;
}

.sub-section-header {
    text-align: center;
    font-size: 3vw;
    align-content: center font-family: 'Paytone One', sans-serif;
}

.sub-section-text {
    text-align: center;
    padding: 10em, 10em, 10em, 10em;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    margin: 20vh;
    box-sizing: border-box;
}

.first-parallax-container {
    /* The image used */
    background-image: url("img/vietnam_area.jpg");
    /* Full height */
    height: 100vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-parallax-container {
    /* The image used */
    background-image: url("img/protest1.jpg");
    /* Full height */
    height: 130vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-content-container {
    font-family: 'Space Mono', monospace;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    position: relative;
}

.major-content-container {
    font-family: 'Space Mono', monospace;
    margin: 30px;
    height:100vh;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    position: relative;
}

.container {
    padding-top: 5vh;
}

.involved-section-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}

.overlay-text {
    font-family: 'Times New Roman';
    font-size: 6vw
}

.social-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 10vh;
    font-size: 1.5vw;
}

.footer-container {
    position: relative;
    height: 20vh;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2f2933;
    text-align: center;
}

.copyright {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 1vw;
    padding-top: 8vh;
    font-size: 1.5vw;
}
